body {
    padding: 1rem;
    font-family: sans-serif;
}

h1 {
    margin-bottom: 1rem;
    text-align: center;
}

.container div {
    background-color: lightcoral;
    padding: 1rem;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    /* grid-template-columns: repeat(12, 1fr); */
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-rows: 100px 400px 50px;
    grid-template-columns: .5fr 2.5fr .5fr;
    outline: 1px solid lime;
    grid-template-areas: "header header aside" "nav main aside" "footer footer aside";
}

.header,
.footer {
    /* grid-column-start: 1; */
    /* grid-column-end: 3; */
    /* grid-column: 1 / -1; */
    /* grid-column: span 2; */
}

.header {
    grid-area: header;
}

.nav {
    grid-area: nav;
}

.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
}

.aside {
    grid-area: aside;
}