/* * { outline: 1px dashed tomato; } */
body {
    --cor1: #00FFAC;
    font-family: 'Poppins', sans-serif;
    padding: 0;
}
h1 {
    text-align: center;
    margin-bottom: 1rem;
}
.container {
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
    gap: 40px 0;
    align-items: center;
    flex-wrap: wrap;
}
.col {
    flex: 1 1 400px;
    /*
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: ?;
    */
}
.col:first-of-type {
    border-top: 2px solid #000;
    align-items: center;
}
img {
    /* width: 100%; */
    max-width: 100%;
}
article {
    background:var(--cor1);
    padding: 40px;
}
h2 {
    font-size: 34px;
    margin-top: 60px;
    font-weight: 600;
    line-height: 1.6;
}
p {
    font-size: 21px;
    line-height: 1.6;
    margin: 40px 0 20px 0;
    font-weight: 400;
}
a {
    font-size: 18px;
    margin: 10px 0;
    padding-bottom: 10px;
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-weight: 800;
    border-bottom: 3px solid #000;
    transition: border-color .25s ease;
}
a:hover,
a:focus {
    border-color: transparent;
}
.center-h {
    text-align: center;
}