@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@500&display=swap");
* {
    line-height: 1;
    box-sizing: border-box;
}

span {
    display: inline-block;
    padding: 3px 7px;
    background-color: orangered;
}

h1 {
    font-weight: normal;
    font-family: "Roboto Condensed", sans-serif;
    text-shadow: 0 0 8px #000;
    margin: 10px 0 0 0;
}

p {
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    margin: 0;
}

body {
    padding: 1rem;
}

section {
    color: #fff;
    width: 240px;
    height: 320px;
    background: linear-gradient( to top, rgba(255, 20, 147, 0.7), rgba(255, 20, 147, 0) 70%), url(https://picsum.photos/240/330?grayscale);
    border-radius: 10px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    position: relative;
}

.wrapper {
    position: absolute;
    left: 1rem;
    /*   top: 11.2rem; */
    bottom: 1rem;
}