/* * { outline: 1px dashed tomato; } */

body {
    font-family: sans-serif;
    padding: 1rem;
    text-align: center;
}

.signup {
    position: fixed;
    right: 2rem;
    bottom: 1rem;
    padding: 1rem;
    width: 445px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .7);
    background-color: #eaeaea;
    text-align: left;
}

.signup img {
    width: 85px;
    float: left;
    margin-right: 20px;
}

.signup a {
    text-decoration: none;
    color: inherit;
}

.signup p,
.signup h1 {
    font-size: 1rem;
    margin: 0;
}

.signup p {
    margin-top: 1.5rem;
    line-height: 1.4;
}

.signup footer {
    clear: both;
    margin-top: 1rem;
}

.signup footer a {
    display: inline-block;
    padding: 13px 2px;
    border: 1px solid #e1e1e1;
    width: 45%;
    text-align: center;
}

.signup footer a+a {
    margin-left: 20px;
}

.signup footer a:first-of-type {
    background-color: #fff;
}

.signup footer a:last-of-type {
    background-color: limegreen;
}

.signup button:hover,
.signup footer a:hover {
    background-color: deeppink;
    color: #fff;
}

.signup .btn {
    font-size: 2rem;
    font-weight: bold;
    --dimensao: 40px;
    --posicao: calc(-1 * (var(--dimensao) / 2));
    position: absolute;
    top: var(--posicao);
    right: var(--posicao);
    border: 0;
    background-color: limegreen;
    width: var(--dimensao);
    height: var(--dimensao);
    border-radius: 50%;
}