body {
    font-family: sans-serif;
    padding: 1rem;
}

section {
    width: 50vw;
    height: 50vw;
    /* background: linear-gradient(to left bottom, gold, deeppink, darkblue); */
    background: linear-gradient( 45deg, darkblue 30%, deeppink 0, deeppink 50%, yellowgreen 0);
    /* background: linear-gradient( -45deg, transparent 35%, rgba(255, 255, 255, .5) 0, rgba(255, 255, 255, .5) 45%, transparent 0, transparent 70%, rgba(255, 255, 255, .3) 0, rgba(255, 255, 255, .3) 80%, transparent 0), linear-gradient( -45deg, rgba(0, 0, 0, .5) 20%, rgba(255, 255, 255, .3) 0, rgba(255, 255, 255, .3) 60%, rgba(0, 0, 0, .5) 0), linear-gradient( 45deg, rgb(150, 13, 41) 20%, tomato 0, tomato 60%, rgb(150, 13, 41) 0); */
    /* graus ou posição, cores... */
    /*
  circle at top left/right bottom left/right
  */
    /* --cyanHSL: 180 100% 50%;
    --pinkHSL: 328 100% 54%;
    background-image: radial-gradient( circle at top right, hsl(var(--cyanHSL)), hsl(var(--cyanHSL) / 0%)), radial-gradient( circle at bottom left, hsl(var(--pinkHSL)), hsl(var(--pinkHSL) / 0%)); */
    /* background-color: hsl(34, 53%, 82%);
background-image: repeating-linear-gradient(45deg, transparent 5px, hsla(197, 62%, 11%, 0.5) 5px, hsla(197, 62%, 11%, 0.5) 10px,
  hsla(5, 53%, 63%, 0) 10px, hsla(5, 53%, 63%, 0) 35px, hsla(5, 53%, 63%, 0.5) 35px, hsla(5, 53%, 63%, 0.5) 40px,
  hsla(197, 62%, 11%, 0.5) 40px, hsla(197, 62%, 11%, 0.5) 50px, hsla(197, 62%, 11%, 0) 50px, hsla(197, 62%, 11%, 0) 60px,
  hsla(5, 53%, 63%, 0.5) 60px, hsla(5, 53%, 63%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 80px,
  hsla(35, 91%, 65%, 0) 80px, hsla(35, 91%, 65%, 0) 90px, hsla(5, 53%, 63%, 0.5) 90px, hsla(5, 53%, 63%, 0.5) 110px,
  hsla(5, 53%, 63%, 0) 110px, hsla(5, 53%, 63%, 0) 120px, hsla(197, 62%, 11%, 0.5) 120px, hsla(197, 62%, 11%, 0.5) 140px
  ),
repeating-linear-gradient(135deg, transparent 5px, hsla(197, 62%, 11%, 0.5) 5px, hsla(197, 62%, 11%, 0.5) 10px,
  hsla(5, 53%, 63%, 0) 10px, hsla(5, 53%, 63%, 0) 35px, hsla(5, 53%, 63%, 0.5) 35px, hsla(5, 53%, 63%, 0.5) 40px,
  hsla(197, 62%, 11%, 0.5) 40px, hsla(197, 62%, 11%, 0.5) 50px, hsla(197, 62%, 11%, 0) 50px, hsla(197, 62%, 11%, 0) 60px,
  hsla(5, 53%, 63%, 0.5) 60px, hsla(5, 53%, 63%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 80px,
  hsla(35, 91%, 65%, 0) 80px, hsla(35, 91%, 65%, 0) 90px, hsla(5, 53%, 63%, 0.5) 90px, hsla(5, 53%, 63%, 0.5) 110px,
  hsla(5, 53%, 63%, 0) 110px, hsla(5, 53%, 63%, 0) 140px, hsla(197, 62%, 11%, 0.5) 140px, hsla(197, 62%, 11%, 0.5) 160px
); */
}