/* * { outline: 1px solid #fff; } */

body {
    padding: 1rem;
    background: linear-gradient(to top left,  gold, deeppink);
    font-family: sans-serif;
    min-height: 100vh;
}

.sidebar-nav {
    overflow: hidden;
    width: 420px;
}
.sidebar-nav li {
    transform: translateX(-59px);
    transition: all .25s;
}
.sidebar-nav li:hover {
    transform: translateX(0);
}
.sidebar-nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2rem;
    padding: 1rem;
    display: inline-block;
    position: relative;
}

/* .sidebar-nav li:nth-of-type(7) a::after */
/* .sidebar-nav li:first-of-type a::after */
/* .sidebar-nav li:nth-last-of-type(2) a::after */
.sidebar-nav li:nth-of-type(even) a::after {
    /* content: "💩"; */
    content: url('img/icon-arrow.svg');
    width: 20px;
    height: 30px;
    /* background-size: contain; */
    /* background-repeat: no-repeat; */
    position: absolute;
    left: 100%;
    /* top: 50%; */
    /* display: block; */
    /* outline: 1px solid #fff; */
}
.sidebar-nav a::before {
    content: "💩";
    margin-right: 5px;
}