body {
    font-family: sans-serif;
    background: linear-gradient(to bottom right, gold, deeppink);
    min-height: 100vh;
    padding: 1rem;
}

.sidebar-nav {
    overflow: hidden;
    width: 510px;
}

.sidebar-nav li {
    /* overflow: hidden; */
    transform: translateX(-99px);
    transition: all .25s;
}

.sidebar-nav li:hover {
    /* overflow: hidden; */
    transform: translateX(-5px);
}

.sidebar-nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2rem;
    padding: 1rem;
    display: inline-block;
}

.sidebar-nav a::after {
    content: "💩";
    margin-right: 50px;
}

.sidebar-nav a::before {
    content: "🦄";
    margin-right: 10px;
}


/* .sidebar-nav li::after {
    content: "💩";
} */