.ff-serif {
    font-family: serif;
}
.ff-sans-serif {
    font-family: sans-serif;
}
.ff-monospaced {
    font-family: monospace;
}
.ff-fantasy {
    font-family: fantasy;
}
.ff-script {
    font-family: script;
}